* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

html {
        height: 100%;
}

body {
    background-image: linear-gradient(rgb(91, 147, 250), rgb(253, 253, 245));
    max-width: 960px;
    margin: auto;
}

header {
    padding: 40px;
} 

main {
      position: relative;
}

.box {
    margin: 2%;
    max-width: 960px;
    height: 450px;
    border: 10px;
    text-align: center;
    display: block;
    padding: 10px;
    background-image: linear-gradient(45deg,rgb(91, 147, 250), rgb(253, 253, 245));
    box-shadow: 2px 2px 2px#000000;
    align-items: center;
}

@media only screen and (max-width: 600px) {
header {
    padding: 1px 20px;
}
.box {
    height: 430px !important;
    padding: 1px;
    border: 0;
}
h1 {
    font-size: 2.5rem !important;
    }
h2 {
    font-size: 2rem !important;
    margin: 1px !important;
}
p {
    font-size: 1.5rem !important;
}
#displayJoke { 
    margin: 2px !important;
    padding: 2px !important;
    border: 0 !important;
}
.button {
    bottom: 2% !important;
}
}

h1 {
    text-align: center;
    color: #002e74;
    font-weight: 900;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgb(253, 242, 242);
}

h2 {
    text-align: center;
    margin: 50px;
    color: #f1ffa0;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

p {
    text-align: center;
    font-size: 2em;
}

footer { 
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width:90%;
    max-width: 960px;
}

.display {
    margin-top: 10px;
}

#displayJoke {
        text-align: center;
        font-weight: 900;
        margin: 20px;
        padding: 20px 50px;
}

.button-container {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.button {
    background-color: #3333e0;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 2px#000000;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 44%;
}

.button:hover {
    background-color: #fdfcae;
    cursor: pointer;
    color: #080080;
    text-shadow: 1px 1px 1px#020202;
}
